<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="kpr.launchType">
<stringAttribute key="kinoma.debug.model.ATTR_KINOMA_APPLICATION" value="digitallightwebsocketsclient.example.kinoma.marvell.com"/>
<booleanAttribute key="kinoma.debug.model.ATTR_KINOMA_LAUNCH_APPLICATION" value="true"/>
<stringAttribute key="kinoma.debug.model.ATTR_KINOMA_PROJECT" value="digital-light-websockets-client"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/digital-light-websockets-client/application.xml"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:/digital-light-websockets-client/application.xml}"/>
</launchConfiguration>
