<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="kpr.launchType">
<stringAttribute key="kinoma.debug.model.ATTR_KINOMA_APPLICATION" value="websocketserver.example.kinoma.marvell.com"/>
<booleanAttribute key="kinoma.debug.model.ATTR_KINOMA_LAUNCH_APPLICATION" value="true"/>
<stringAttribute key="kinoma.debug.model.ATTR_KINOMA_PROJECT" value="websocket-server"/>
<stringAttribute key="kinoma.debug.model.ATTR_KINOMA_TARGET_DEVICE" value="com.marvell.kinoma.kpr.device.desktop"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/websocket-server/application.xml"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:/websocket-server/application.xml}"/>
</launchConfiguration>
